{% extends 'layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ 'home_title'|trans }}{% endblock %}

{% block nav %}{% endblock %}

{% block body %}
    <section class="centralize intro">
        <div class="centralize container-logo">
            <img alt="" src="{{ asset('build/assets/img/logo.png') }}" />
        </div>
        <div class="centralize container-btn">
            <a href="{{ path('github_connect') }}" class="btn-login">{{ 'login_with_github'|trans }}</a>
        </div>
    </section>
{% endblock %}
